.hawk-facet-rail {
	border: 1px solid $primary;
	background-color: $grey2;
	min-width: 300px;
	margin-right: 1em;
}

.hawk-facet-rail__facet-list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.hawk-facet-rail__facet-list-item {
	display: flex;
	margin: 0 0 6px;
}

.hawk-facet-rail__heading {
	color: $white;
	background-color: $hawk-facet-rail-heading-bg;
	font-size: 1.2em;
	padding: 10px;
}

.hawk-facet-rail__selections {
	margin-bottom: 1em;
	border-bottom: 1px solid #d9d9d6;

	h4 {
		margin: 0;
		margin-bottom: 10px;
		font-size: 1.2em;
	}
}

.hawk-facet-rail__facet {
	padding: 10px;

	border-bottom: 1px solid $grey;
	border-top: 1px solid $white;
}

.hawk-facet-rail__facet-heading {
	cursor: pointer;
	display: flex;
	align-items: center;

	h4 {
		margin: 5px 0 5px 0;
		display: inline-block;
		flex-grow: 1;
		padding: 0 5px 0 0;
		font-size: 1.2em;
	}

	.icon {
		width: 1em;
		height: 1em;
	}

	cursor: pointer;
}

.hawk-facet-rail__facet-body {
	margin-top: 10px;
}

.hawk-facet-rail__facet__quick-lookup {
	input {
		width: 100%;
		box-sizing: border-box;
		border: 1px solid $grey;

		padding: 5px;
	}

	margin-bottom: 5px;
}

.hawk-facet-rail__facet-values {
	background-color: $white;
	border: 1px solid $grey;
	padding: 10px;
}

.hawk-facet-rail__facet-values__checkbox {
}

.hawk__btn__select-facet {
	width: 200px;
	text-align: left;
	margin-right: 5px;
	font-size: 12px;
	background-color: #007041;
}

.hawk-facet-rail__facet-values__search {
	input {
		border: none;
		width: 100%;
	}
}

.hawk-facet-rail__facet-values__search-clear {
	span {
		&:hover {
			text-decoration: underline;
		}

		float: right;

		margin-top: 5px;
		margin-right: 5px;

		cursor: pointer;
	}

	height: 20px;
}

.hawk-facet-rail__facet-btn {
	@include ButtonLink;

	display: flex;
	align-items: center;
	font-size: 14px;
	color: $primary;
	padding: 0;
	flex-grow: 1;
	text-align: left;
	margin: 0 5px;
	box-shadow: none;

	&:focus,
	&:active {
		box-shadow: none;

		.hawk-facet-rail__facet-name {
			outline: none;
			box-shadow: 0 0 0 3px #5bc0de;
		}
	}
}

.hawk-facet-rail__facet-btn-exclude {
	@include ButtonLink;
}

.hawk-facet-rail__facet-btn-include {
	@include ButtonLink;

	color: $primary;
}

.hawk-facet-rail__show-more-btn {
	@include ButtonLink;
}

.hawk-facet-rail__facet-checkbox {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 20px;
	height: 20px;
	background: transparent;
	border: 1px solid $primary;
	border-radius: 4px;
	margin-right: 5px;
}

.hawk-facet-rail__facet-checkbox-icon {
	width: 1em;
	height: 1em;
}
