.hawk-open-range {
	margin-bottom: 10px;
}

.hawk-open-range {
	min-height: 36px;
	input.hawk-text-input {
		width: 80px;
		&.value-start {
			float: left;
		}
		&.value-end {
			float: right;
		}
	}
}

.hawk-facet-type-date {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	align-content: center;
	flex: 1;
	justify-content: space-between;
}
