.hawk-selections {
	list-style-type: none;
	background-color: #fff;
	border: 1px solid #d9d9d6;
	padding: 10px;
	margin: 0 0 0.6em;
}

.hawk-selections__item-remove {
	@include ButtonLink;

	margin-right: 5px;
}

.hawk-selections__category {
	margin-bottom: 15px;

	&:last-child {
		margin-bottom: 0;
	}
}

.hawk-selections__category-name-wrapper {
	display: flex;
	align-items: center;
	margin: 0 0 0.5em;
}

.hawk-selections__category-name {
	display: block;
	font-weight: bold;
}

.hawk-selections__item-list {
	display: flex;
	border: 1px solid #d2d2d2;
	border-radius: 4px;
	padding: 8px;
}

.hawk-selections__item {
	display: flex;
	align-items: center;
	margin-bottom: 0;
	margin-right: 5px;

	&:last-child {
		margin-bottom: 0;
	}
}

.hawk-selections__item-name {
	margin-right: 5px;
	color: $primary;
	font-size: 14px;
}

// .hawk-selections__item-remove {
// 	background-color: transparent;
// 	border-radius: 0;
// 	border: none;
// 	outline: none;
// 	padding: 0;
// 	margin: 0;
// 	height: auto;
// 	cursor: pointer;
// }
