.hawk-open-range {
	margin-bottom: 10px;
}

.hawk-open-range {
	min-height: 36px;
	input.hawk-text-input {
		width: 80px;
		padding: 4px 1px;
		font-size: 13.5px;
		&.value-start {
			float: left;
		}
		&.value-end {
			float: right;
		}
	}
}

.hawk-facet-type-date {
	display: flex;
	align-items: center;
	flex-direction: column;
}
