.hawk-pagination {
	display: flex;
	align-items: center;
}

.hawk-pagination__controls {
	display: flex;
	align-items: center;
}

.hawk-pagination__item {
	@include HoverCircleAccent;
	@include ButtonLink;

	cursor: pointer;
	margin: 0 18px;

	.hawk & {
		box-shadow: none;
	}
}
