.hawk-results__item {
	width: 25%;
	max-width: 300px;
	margin: 0 0 2em;
}

.hawk-results__item-image {
	img {
		display: block;
		margin: auto;

		width: 175px;
		height: 175px;
	}
}

.hawk-results__item-name {
	width: 75%;
	margin: auto;
	margin-top: 10px;

	text-align: center;
}

.hawk-results__listing {
	display: flex;
	flex-wrap: wrap;
}
