.hawk-results__item {
	max-width: 300px;
	margin: 0 0 2em;

	width: 50%;

	@include lg {
		width: 25%;
	}
}

.hawk-results__item-image {
	img {
		display: block;
		margin: auto;

		width: 175px;
		height: 175px;
	}
}

.hawk-results__item-name {
	width: 75%;
	margin: auto;
	margin-top: 10px;

	text-align: center;
}

.hawk-results__listing {
	display: flex;
	flex-wrap: wrap;
}

.hawk-results__top-tool-row {
	margin-bottom: 1em;
	border-bottom: 1px solid #ccc;
}

.hawk-results__bottom-tool-row {
	margin-top: 1em;
	border-top: 1px solid #ccc;
}
