
# exclude common directories and files from build context
.dockerignore
Dockerfile
.env
.git
.gitignore
.vs
.vscode
.prettierrc
*.code-workspace

# directories that aren't part of the docker build
node_modules/
dist/
scripts/
