.hawk__facet-rail {
	margin-top: 10px;

	border: 1px solid $grey6;
	background-color: $grey2;

	width: 300px;
	float: left;
}

.hawk__facet-rail__heading {
	color: $white;
	background-color: $grey5;

	padding: 10px;
}

.hawk__facet-rail__selections {
	h4 {
		margin: 0;
		margin-bottom: 10px;
	}

	ul {
		list-style-type: none;
	}

	> ul {
		> li {
			padding-bottom: 15px;
		}

		padding: 0;
		margin: 0;
	}

	padding: 10px;

	border-bottom: 1px solid $grey6;

	background-color: $grey;
}

.hawk__facet-rail__facet {
	padding: 10px;

	border-bottom: 1px solid $grey;
	border-top: 1px solid $white;
}

.hawk__facet-rail__facet-heading {
	h4 {
		margin: 5px 0 5px 0;
		display: inline-block;
	}

	span {
		float: right;

		font-weight: bold;
	}

	cursor: pointer;
}

.hawk__facet-rail__facet__quick-lookup {
	input {
		width: 100%;
		box-sizing: border-box;
		border: 1px solid $grey;

		padding: 5px;
	}

	margin-bottom: 5px;
}

.hawk__facet-rail__facet-values {
	background-color: $white;

	border: 1px solid $grey;

	padding: 5px;
}

.hawk__facet-rail__facet-values__checkbox {
	ul {
		padding-left: 0;
		margin: 0;
	}

	li {
		button {
			padding: 5px;
		}

		div {
			display: inline-block;
			width: 20px;
		}

		.hawk__btn__select-facet {
			width: 200px;
			text-align: left;

			margin-right: 5px;
		}

		list-style: none;

		padding-top: 2px;
		padding-bottom: 2px;
	}
}

.hawk__facet-rail__facet-values__search {
	input {
		border: none;
		width: 100%;
	}
}

.hawk__facet-rail__facet-values__search-clear {
	span {
		&:hover {
			text-decoration: underline;
		}

		float: right;

		margin-top: 5px;
		margin-right: 5px;

		cursor: pointer;
	}

	height: 20px;
}
