// Base colors
$blue: #004c97;
$blue2: #00386f;
$blue3: #3c68ec;
$blue4: #0f2b53;
$blue5: #115da7;
$blue6: #1f5489;
$green: #007041;
$green2: #53565a;
$green3: #a4d65e;
$green4: #717178;
$green5: #5d5f62;
$green6: #3f4044;
$green7: #00843d;
$green8: #89e6b4;
$green9: #007a3e;
$green10: #353e35;
$green11: #ccebcd;
$green12: #008b3d;
$green13: #c9f788;
$green14: #ecfaeb;
$cyan: #5bc0de;
$red: #d9534f;
$orange: #f0ad4e;
$white: #fff;
$black: #000;
$grey: #d9d9d6;
$grey2: #f7f7f7;
$grey3: #f9fafb;
$grey4: rgba(230, 230, 230, 0.5);
$grey5: #373a3c;
$grey6: #696969;

// General
$primary: $green;
$secondary: $green3;
$site-text: $green6;

// Moods
$success: #5cb85c;
$info: #5bc0de;
$warning: $orange;
$danger: $red;

// Components
$site-bg: $grey3;
$site-h1: $site-text;
$site-h2: $site-text;
$site-h3: $site-text;
$site-h4: $site-text;
$site-hr: #dfdfdf;

// Header
$header-height: 70px;

// Navbar
$site-navbar-bg: $green;
$site-navbar-link: $white;
$site-navbar-link-bg: $site-navbar-bg;
$site-navbar-link-focus: $cyan;
$site-navbar-link-active: $green2;
$site-navbar-link-active-bg: $green13;
$site-navbar-utlities-drop-bg: $green7;
$site-navbar-utlities-svg-bg: $grey;
$site-navbar-account-border: $green2;
$site-navbar-tools-link-underline: $white;
$site-navbar-tools-icon: #d9d9d6;
$site-navbar-account-item-after-bg: $white;
$site-navbar-acount-link-underline: $white;

// Sidebar
$site-sidebar-width: 278px;
$site-sidebar-collapsed-width: 60px;
$site-sidebar-bg: $grey2;
$site-sidebar-link: $green4;
$site-sidebar-link-hover: $primary;
$site-sidebar-link-hover-bg: $green14;
$site-sidebar-link-active: $white;
$site-sidebar-link-active-bg: $green;
$site-sidebar-link-open-bg: darken($site-sidebar-link-active-bg, 5%);
$site-sidebar-menu-open-bg: $white;
$site-sidebar-collapse-bg-start: $green;
$site-sidebar-collapse-height: 50px;
$site-sidebar-collapse-bg-end: $green7;
$site-sidebar-collapse-active-hover-bg: darken($primary, 5%);
$site-sidebar-icon: $green5;
$site-sidebar-icon-hover: $primary;
$site-sidebar-icon-active: $white;
$site-sidebar-submenu-link: $primary;
$site-sidebar-submenu-link-active: #084a2e;
$site-sidebar-submenu-link-bg-active: #d5ebb5;
$site-sidebar-submenu-link-hover-focus: $primary;
$site-sidebar-submenu-link-hover-focus-bg: $green14;

// Sidebar Search
$site-sidebar-search-active: $green;
$site-sidebar-search-inactive: $green6;

// Version
$version-label: $green6;

// Admin Tabs
$admin-tabs-menu-bg: $site-bg;
$admin-tabs-menu-link-active: #3f4044;
$admin-tabs-bg: $white;
$admin-tabs-menu-link-active-bg: $admin-tabs-bg;
$admin-tabs-content-bg: $admin-tabs-bg;
$admin-tabs-link-border: #dfdfdf;
$admin-tabs-link-border-2: $grey3;
$admin-tabs-link-border-hover: #eee;

// Tables
$table-bg-color: $white;
$table-border-color: #cececf;
$table-tr-striped-odd-bg-color: $grey3;
$table-tr-neutral-bg-color: #f5f5f5;
$table-tr-success-bg-color: #def0d7;
$table-tr-info-bg-color: #d8edf7;
$table-tr-warning-bg-color: #fdf8e3;
$table-tr-danger-bg-color: #f2dedf;
$table-dark-tr-neutral-bg-color: #1c7cd5;
$table-dark-tr-success-bg-color: #74b05d;
$table-dark-tr-info-bg-color: #70bedb;
$table-dark-tr-warning-bg-color: $orange;
$table-dark-tr-danger-bg-color: #cc6257;

// Buttons
$primary-btn-disabled: #b1d4f3;
$primary-btn-outline: #595959;
$primary-btn-outline-hover-active-focus: $primary;
$primary-btn-outline-bg-top: rgba(255, 255, 255, 1);
$primary-btn-outline-bg-bottom: rgba(247, 247, 247, 1);
$primary-btn-outline-active-hover: $white;
$primary-btn-outline-border: #d1d1d1;
$primary-btn-outline-alt: $primary;
$primary-btn-outline-alt-border: $primary;
$primary-btn-outline-alt-bg-hover: $primary;
$primary-btn-outline-alt-border-hover: $primary;
$primary-btn-outline-dropdown-hover-active: $white;
$secondary-btn-disabled-bg: $white;
$secondary-btn-hover-bg: #e6e6e6;
$secondary-btn-hover-border: #dddddd;
$secondary-btn-focus-shadow: $grey4;
$secondary-btn-outline-border: $grey5;
$secondary-btn-outline-hover: $grey5;
$secondary-btn-outline-active: $grey5;
$secondary-btn-outline-focus-shadow: $grey4;
$secondary-btn-disabled-border: #e8e8e8;
$info-btn: $white;
$info-btn-outline: $white;
$warning-btn: $white;
$warning-btn-disabled: $white;
$warning-btn-outline: $white;
$warning-btn-outline-hover: $white;
$btn-outline-bg: $white;
$btn-input-cancel-border: #ced4da;
$btn-icon-bg: rgba(0, 0, 0, 0.2);

// Boostrap Dropdowns Override
$dropdown-item: $grey6;
$dropdown-item-hover-focus-active: $grey6;
$dropdown-item-hover-bg: $green14;
$dropdown-item-disabled: $white;
$dropdown-item-disabled-bg: #6c757d;

// Toast
$toast-default-bg: $green14;
$toast-default-text: #484848;
$toast-default-text-bold: $black;
$toast-default-border: $primary;
$toast-default-close: #595959;
$toast-default-close-x: $red;
$toast-default-progress-bar: $primary;

$toast-primary-bg: $primary;
$toast-primary-text: $white;
$toast-primary-text-bold: $white;
$toast-primary-border: darken($primary, 10%);
$toast-primary-close: $white;
$toast-primary-close-x: $white;
$toast-primary-progress-bar: darken($primary, 10%);

$toast-success-bg: $success;
$toast-success-text: #fff;
$toast-success-text-bold: #fff;
$toast-success-border: darken($success, 15%);
$toast-success-close: $white;
$toast-success-close-x: $white;
$toast-success-progress-bar: darken($success, 15%);

$toast-info-bg: $info;
$toast-info-text: #fff;
$toast-info-text-bold: #fff;
$toast-info-border: darken($info, 15%);
$toast-info-close: $white;
$toast-info-close-x: $white;
$toast-info-progress-bar: darken($info, 15%);

$toast-warning-bg: $warning;
$toast-warning-text: #fff;
$toast-warning-text-bold: #fff;
$toast-warning-border: darken($warning, 15%);
$toast-warning-close: $white;
$toast-warning-close-x: $white;
$toast-warning-progress-bar: darken($warning, 15%);

$toast-danger-bg: $danger;
$toast-danger-text: #fff;
$toast-danger-text-bold: #fff;
$toast-danger-border: darken($danger, 15%);
$toast-danger-close: $white;
$toast-danger-close-x: $white;
$toast-danger-progress-bar: darken($danger, 15%);
$dropdown-btn-group-no-text-hover-border: $white;

// Alerts
$alert-success: #4b713d;
$alert-success-bg: #e2eed8;
$alert-info: #3d708d;
$alert-info-bg: #dcedf6;
$alert-warning: #876d40;
$alert-warning-bg: #fcf7e4;
$alert-danger: #9f4f48;
$alert-danger-bg: #efdfdf;
$alert-danger-border-left: #de3618;

// Pager
$pager-link-disabled: #007041;
$pager-link-border-disabled: #dee2e6;
$pager-link-bg-disabled: #fff;

// Nav
$nav-pills-link-active: #fff;
$nav-pills-link-bg-active: $primary;

// React Dates
$single-date-input-calendar-icon-border-left: #dbdbdb;
$single-date-input-calendar-icon-svg-fill: $black;

// Typography
$blockquote-left-border: #eceeef;
$text-muted: #b9bbbd;

// Accessibility
$skip-link-focus: #fff;
$skip-link-bg: $green7;
$skip-link-box-shadow-focus: rgba(0, 0, 0, 0.3);

// Spinner
$spinner-cube-bg: $primary;
$spinner-cube-bg-dark: $black;
$spinner-cube-bg-light: $white;

// Inner
$inner-sidebar-bg: $white;
$inner-sidebar-right-border: #d9d9d6;
$inner-heading-bg: $white;
$inner-heading-bottom-border: #ccc;

// Pagination
$pagination-control-path: $black;

// Listing Controls
$listing-controls-item-divider-border: #97989b;
$listing-controls-item-icon: #404040;

// Dropdowns
$dropdown-toggle: $black;

// Card
$card-shadow: rgba(223, 223, 223, 1);
$card-header-bg: $white;
$card-header-highlight-bg: $green8;
$card-footer: #777777;
$card-footer-bg: #eceeef;

// Filters
$filter-actions-divider: #ced4da;
