/*
 * Sorting
 */

.hawk__sorting {
	display: inline-block;
	width: 66%;

	select {
		margin-left: 5px;
	}
}

/*
 * Pagination
 */

.hawk__pagination {
	margin-bottom: 0;

	display: inline-block;
	width: 33%;
	text-align: right;

	input[type='number'] {
		&.error {
			animation-name: shake;
			animation-duration: 0.5s;
		}

		width: 47px;
		display: inline-block;
		text-align: center;

		-moz-appearance: textfield;

		/* Webkit browsers like Safari and Chrome */
		&::-webkit-inner-spin-button,
		&::-webkit-outer-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}
	}
}

.hawk__pagination__controls {
	display: inline-block;
}

.hawk__pagination__item {
	@include HoverCircleAccent;
	cursor: pointer;
	margin: 0 10px;
}

@mixin paginationControl() {
	height: 15px;
	cursor: pointer;

	path {
		fill: $pagination-control-path;
	}
}

.hawk__pagination__left {
	@include paginationControl;
}

.hawk__pagination__right {
	@include paginationControl;
}

@keyframes shake {
	0% {
		transform: translateX(0);
	}
	6.5% {
		transform: rotateY(-9deg) translateX(-6px);
	}
	18.5% {
		transform: rotateY(7deg) translateX(5px);
	}
	31.5% {
		transform: rotateY(5deg) translateX(-3px);
	}
	43.5% {
		transform: rotateY(3deg) translateX(2px);
	}
	50% {
		transform: translateX(0);
	}
}

/*
 * Items Per Page
 */

.hawk__items-per-page {
	display: inline-block;
}
